$primary-color: #1d4aba;
$secondary-color: #ef8c34;
$lucky-color: #c1d7d7;
$succed-color: #d1ecfe;
$warm-color: #d3a7d4;
$white-color: #fff;

// colors
$blue: #051655;
$lightblue: #f3f6f9;
$red: #eb3d35;
$lightred: #c35b48;
$white: #fff;
$grey: #747887;
$lightgrey: #e5e4e1;
